## Preprocessing

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME' 
#application_df = application_df.drop(columns=['EIN', 'NAME'])

In [22]:
# Determine the number of unique values in each column.
counts = application_df.nunique()
counts

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#1. Created more bins for Application Type (from 500 to 5)
application_types_to_replace = list(app_type[app_type < 5].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_type = application_df['CLASSIFICATION'].value_counts()
class_type.head(20)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# 2. Created more bins for classifications
classifications_to_replace = list(class_type[class_type < 10].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,'Other')
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: count, dtype: int64

In [8]:
# Look at ASK_AMOUNT value counts for binning
ask_amt = application_df['ASK_AMT'].value_counts()
ask_amt

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [17]:
# Choose a cutoff value and create a list of ask_amts to be replaced
# use the variable name `ask_to_replace`
ask_to_replace = list(ask_amt[ask_amt < 25000].index)

# Replace in dataframe
for ask in ask_to_replace:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(ask,'Other')
    
# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'] 
X = dummies.drop(['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# 3. Updated number of nodes
nn = tf.keras.models.Sequential()
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 15
hidden_nodes_layer3 = 20
number_input_features = len(X_train_scaled[0])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# 4. Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                720

 dense_1 (Dense)             (None, 15)                165

 dense_2 (Dense)             (None, 20)                320

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 1226 (4.79 KB)
Trainable params: 1226 (4.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
# 5. Update number of epochs from 50 to 65
fit_model = nn.fit(X_train_scaled, y_train, epochs=65)

Epoch 1/65
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.7078
Epoch 2/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7253
Epoch 3/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.7257
Epoch 4/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5529 - accuracy: 0.7278
Epoch 5/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7279
Epoch 6/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7268
Epoch 7/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7287
Epoch 8/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7300
Epoch 9/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7297
Epoch 10/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7305
Epoch 11/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7307
Epoch 12/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7311
Epoch 13/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7308
Epoch 14/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7322
Epoch 15/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7317
Epoch 16/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7319
Epoch 17/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7320
Epoch 18/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7320
Epoch 19/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7336
Epoch 20/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7325
Epoch 21/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7327
Epoch 22/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7336
Epoch 23/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7334
Epoch 24/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7341
Epoch 25/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7329
Epoch 26/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7330
Epoch 27/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7338
Epoch 28/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7338
Epoch 29/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7342
Epoch 30/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7343
Epoch 31/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7340
Epoch 32/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7343
Epoch 33/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7340
Epoch 34/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7345
Epoch 35/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7346
Epoch 36/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7344
Epoch 37/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7351
Epoch 38/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7346
Epoch 39/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7357
Epoch 40/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7337
Epoch 41/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7352
Epoch 42/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7341
Epoch 43/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7345
Epoch 44/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7335
Epoch 45/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7354
Epoch 46/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7350
Epoch 47/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7342
Epoch 48/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7353
Epoch 49/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7365
Epoch 50/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7348
Epoch 51/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7355
Epoch 52/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7348
Epoch 53/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7351
Epoch 54/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7357
Epoch 55/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7358
Epoch 56/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7364
Epoch 57/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7358
Epoch 58/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7355
Epoch 59/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7350
Epoch 60/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7345
Epoch 61/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7362
Epoch 62/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7364
Epoch 63/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7345
Epoch 64/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7368
Epoch 65/65
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7359

In [15]:
# Evaluate the model using the test data
# Attempt 1: 73% accuracy
# Attempt 2: 73% accuracy
# Attempt 3: 73.2% accuracy
# Attempt 4: 73.7% accuracy

model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5459 - accuracy: 0.7374 - 431ms/epoch - 2ms/step
Loss: 0.5458781719207764, Accuracy: 0.7373760938644409

In [16]:
# Export our model to HDF5 file
nn.save('Models/AlphabetSoupCharity_Optimization.h5')

C:\Users\nemor\anaconda3\envs\dev\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(